.head {

    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;

}

.nav-right {
    width: 30%;
}

.nav-left {
    width: 70%;
}

.ul-nav-right {
    display: flex;
    justify-content: space-between;

}

.nav-right a {
    text-decoration: none;
    color: brown;

}

.nav-right a:hover {
    color: red;

}

.h1item {
    margin-top: 5%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}

.images {
    display: flex;

}

.image-main {
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.h3-tag-main {
    color: red;
}

.p-tag-main {
    color: rgb(156, 60, 60);
}